:root{
  --primary-color: #0EA16C;
  --bg-grad-1: #EBC894;
  --bg-grad-2: #B49EF4;
  --sub-head: #505F76;
  --label-login: #3D4A3D;
  --placeholder-login: #667085;
  --login-border: #BCCBB9;
  --color-white: #ffffff;
  --color-transparent: transparent;
  --color-surface-muted: #f1f5f9;
  --color-text-dark: #131b2e;
  --color-border: #e5e7eb;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}